aiohttp
aiosignal
async-timeout
attrs
beautifulsoup4
certifi
charset-normalizer
frozenlist
idna
lxml
MouseInfo
multidict
numpy
openai
opencv-python
operating-systems
packaging
Pillow
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytesseract
pytweening
requests
rubicon-objc
soupsieve
tqdm
urllib3
yarl
